{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row mt-5"></div>
        <div class="row mt-5">
            <div class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></div>
            <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10">
                <div class="card card-primary">
                    <div class="card-header"><h1>Receipt</h1></div>
                    <div class="card-body">
                        <table class="table-bordered">
                            <thead>
                                <tr style="padding:40px">
                                <td>Quantity</td>
                                <td>Name</td>
                                <td>Price</td>
                                </tr>
                            </thead>
                            {% for item in cart %}
                            <tbody>
                                <tr style="padding:40px">
                                    <td>{{item.quantity}} x</td>
                                    <td>{{item.food.name}}</td>
                                    <td>ksh. {{item.total_price}}</td>
                                    </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                    <p style="padding-left:30px">Total: ksh. {{ cart.get_total_price }}</p>
                    <div class="card-footer">
                            <p>Thank you for coming today</p>
                            <p>You were served by {{current_user.username | title}}</p>  
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></div>
        </div>
    </div>
{% endblock %}