{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<h1>Your shopping cart</h1>
<table class="cart table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit Price</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{cart.cart}}
        {% for key,value in cart.cart.items %}
        {% for food in foodie %}
        <tr>
        {% if fd == key %}
        <td>{{food.name}}</td>
        <td>
            <img src="{{food.image_url}}" alt="" class="img-fluid"style="height:30%;width:90%;padding:7px;padding-left:10px"></td>              
            <td>{{value.quantity}}</td>
            <td><a href="{% url "cart:remove" food.id%}">Remove</a></td>
            <td class="num">ksh. {{food.price}}</td>
            <td class="num">ksh. {{cart.total_price}}</td>
            {% endif %}
       </tr>
        {% endfor %}
        {% endfor %}
        <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">ksh{{ cart.get_total_price }}</td>
        </tr>
    </tbody>
</table>
<p class="text-right">
    <a href="{% url "index" %}" class="button-light">Continue</a>
</p>
{% endblock %}