{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<h1>Your shopping cart</h1>
<table class="cart">
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Unit Price</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
            {% for item in Cart %}
            {% with food=item.Food %}
            <tr>
                <td>{{food.name}}</td>
                <td>
                    {% if food.image_url %}
                    <img src="{{food.image_url.url}}" alt="{{food.name}}">
                    {% endif %}
                </td>
                <td>{{item.quantity}}</td>
                <td><a href="{% url "remove" food.id %}">Remove</a></td>
                <td class="num">ksh {{item.price}}</td>
                <td class="num">ksh {{item.total_price}}</td>
            </tr>
            {% endwith %}
            {% endfor %}
            <tr class="total">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">ksh {{Cart.get_total_price}}</td>
            </tr>

    </tbody>
</table>
<p class="text-right">
    <a href="{% url "index" %}" class="button-light">Continue</a>
</p>
{% endblock %}