{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
{{block.super}}
<div class="row mt-2"></div>
<div class="container mt-5" style="background-color: orange;">
    <div class="row mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card card-default mt-5" style="margin-left:8%">
        <div class="card-header">
        <p>Hey {{current_user.username}}</p>
        <p>Check out what we have today on out menu!!</p>
        </div>
        </div>
        </div>        
    </div>
    <div class="row mt-5" style="padding-bottom:20%;">
        <div class="row" style="margin-left:3%">
        {% for foodie in Food %}
            {% if foodie.image_url %}
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <img src="{{foodie.image_url}}" alt="" class="img-fluid" style="height:100%;width:80%;">
                <p style="padding-left:5px"><a href="{% url 'food' foodie.id%}">{{foodie.name}}</a></p>
            </div>
                {% endif %}
        {% endfor %}
        </div>
        </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
{% endblock %}